<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>Medserv - Innovación en Endoscopía</title>
    <link rel="icon" href="{% static 'img/MedservLogo.png' %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: #f4f9ff;">
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #004085;">
                <div class="container-fluid">
                    <a class="navbar-brand text-light" href="#">
                        <img src="{% static 'img/MedservLogo.png' %}" alt="Logo" width="20%" height="20%"
                            class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-light" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#nosotros">¿Quiénes somos?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#servicios">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#contacto">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="Logo py-5" style="background-color: #004085; margin-top: 30px;">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                    <img src="{% static 'img/MedservLogo.png' %}" alt="Logo Medserv" width="75%" height="75%">
                </div>
                <div class="col">
                    <h4 class="text-light"><strong>Endoscopía con Realidad Mixta</strong></h1>
                        <p class="text-light"><i>Innovación y precisión al servicio de tu salud</i></p>
                </div>

            </div>
        </div>
    </section>

    <div class="container-fluid">
        <section id="nosotros" class="my-5">
            <h1 class="text-center my-5">¿Quiénes somos?</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 d-flex align-items-center text-center shadow">
                        <p><i><strong>
                            Somos Medserv, una empresa líder en soluciones médicas avanzadas. Especializados en
                            procedimientos endoscópicos, utilizamos tecnología de realidad mixta para ofrecer
                            diagnósticos y tratamientos precisos, mejorando la experiencia del paciente y los resultados
                            médicos. Nuestro equipo combina innovación tecnológica y excelencia clínica para redefinir
                            los estándares de la medicina moderna.
                            
                        </strong></i></p>
                    </div>
                    <div class="col-sm-6 d-flex align-items-center shadow">
                        <iframe width="100%" height="300px"
                            src="https://www.youtube.com/embed/22qHZZeQ2hc?si=d0sDd_lN0UE9KZ2Y"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section id="servicios" class="my-5">
            <h1 class="text-center my-5">Servicios</h1>
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card text-center h-100">
                            <img src="{% static 'img/Media1.svg' %}" class="card-img-top custom-img" alt="Endoscopia">
                            <div class="card-body">
                                <h5 class="card-title">Endoscopía Avanzada</h5>
                                <p class="card-text">Procedimientos endoscópicos de precisión asistidos con tecnología
                                    de realidad mixta para diagnósticos más rápidos y efectivos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center h-100">
                            <img src="{% static 'img/Media2.svg' %}" class="card-img-top custom-img" alt="Capacitación Médica">
                            <div class="card-body">
                                <h5 class="card-title">Capacitación Médica</h5>
                                <p class="card-text">Entrenamiento para profesionales de la salud con simuladores de
                                    realidad aumentada, mejorando la práctica clínica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center h-100">
                            <img src="{% static 'img/Media3.svg' %}" class="card-img-top custom-img" alt="Diagnóstico">
                            <div class="card-body">
                                <h5 class="card-title">Diagnósticos Avanzados</h5>
                                <p class="card-text">Análisis detallados y personalizados gracias a la integración de
                                    modelos 3D y visualizaciones interactivas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <style>
            .card {
                border: 1px solid #e3e3e3;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }
        
            .card .card-img-top {
                height: 150px; /* Ajustar altura para reducir tamaño */
                width: auto; /* Mantener proporción */
                object-fit: contain; /* Evitar recortes indeseados */
                margin-top: 15px; /* Añadir espacio arriba */
            }
        
            .card .card-body {
                padding: 15px;
            }
        
            .h-100 {
                height: 100%; /* Garantizar que todas las tarjetas tengan el mismo tamaño */
            }
        
            .row-cols-md-3 .col {
                display: flex;
                justify-content: center;
            }
        </style>
        

        <section id="contacto" class="my-5">
            <h1 class="text-center my-5">Contacto</h1>
            <div class="container-fluid">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSd_AWi1i8Z8yv2QECUJzbX9WP3LJ2c28iMghWCoT22llD9LBQ/viewform?embedded=true"
                    width="100%" height="1000px" frameborder="0" marginheight="20" marginwidth="20">Cargando…</iframe>
            </div>
        </section>
    </div>

    <footer class="text-center py-4" style="background-color: #004085; color: #fff;">
        <p>&copy; 2024 Medserv. Todos los derechos reservados.</p>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</html>